h1 {
  color: black;
  font-size: 33px;
}
* {
  font-family: roboto;
}
nav {
  padding: 10px;
}

.to-do-hr {
  background-color: blue;
  height: 2px;
  border: none;

  width: 90%;
}
.onprogress-hr {
  background-color: orange;
  height: 2px;
  border: none;
  width: 90%;
}
.done-hr {
  background-color: lightgreen;
  height: 2px;
  border: none;
  width: 90%;
}
span {
  background-color: #bfbfbf;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;

  border-radius: 50%;
}
.nav-line {
  width: 100%;
}
.home-bg {
  display: flex;
  width: 90vw;
  flex-direction: column;
}
.home-container {
  height: 100vh;
  width: 100vw;
  display: flex;

  flex-direction: column;
  padding: 10px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.card {
  width: 350px;
  display: flex;
  background-color: hwb(0 94% 4%);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  padding: 10px;
  align-items: flex-start;
  width: 40vw;
}
.filter-cont {
  display: flex;
  width: 200px;
  justify-content: space-between;
}
.inputdiv {
  display: flex;
  justify-content: space-between;
}
form {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .card {
    width: 250px;
  }
  label {
    width: 200px;
  }
  h1 {
    font-size: 20px;
  }
  .home-bg {
    width: 100vw;
  }
}
